* {
    background: #000027;
    color: seashell;
}

#sketch-container {
    display: grid;
    justify-items: center;
    width: 800px;
}

#sketch-container > div{
    background: rgb(233, 233, 233);
}

.cell-over {
    background: yellow;
}