* {
    background: #000027;
    color: seashell;
}

#sketch-container {
    display: grid;
    grid-auto-rows: minmax(25px, auto);
    justify-items: center;
    width: 960px;
}

#sketch-container > div{
    background: gray;
    /* border: 1px solid black; */
    /* width: 25px;
    height: 25px; */
}

.cell-over {
    background: yellow;
}